@using BeyondthePagesApp.State
@using BeyondthePagesApp.Components.Widgets

@inherits TestContext

@code{
    public InboxWidgetTests()
    {
        this.Services.AddScoped<ApplicationState>();
    }

    [Fact]
    public void RenderInboxWidgetWithValueGreaterThanZero()
    {
        var applicationState = this.Services.GetService<ApplicationState>();
        applicationState.NumberOfMessages = 3;

        var cut = Render(@<InboxWidget />);
        cut.MarkupMatches("<h3>Inbox</h3><h4>You currently have 3 questions from employees!</h4><br/><br />");
    }
}
